<div class="box-form">
    <div class="middle">
        <div class="overlay">
            <h2>Sign our petition if you agree that (odd, even formula) vehicles with number plates with an odd last
                digit will be allowed on roads only on odd dates,
                while vehicles with even-last digit can be taken out only on even dates.</h2>
            <span>
                <form action='/' method='POST' class="sign">
                    <label for="canvas">Sign here</label><br>
                    <input type="hidden" name="signature" id="hidden" />
                    <canvas id="signature-canvas"></canvas><br>
                    <button type="submit">Submit</button>
                    <script src="canvas.js"></script>
                </form>
            </span>
        </div>
    </div>
</div>
{{#if error}}
<p class='error'>{{error}}</p>
{{/if}}