<h1>Petition</h1>
{{#if error}}
   <p class='error'>{{error}}</p>
{{/if}}   

<form action='/' method='POST'>

<label> 
  First Name:
  <input type="text" name="first_name" required placeholder='enter your first name'/>
</label><br>

<label> 
  Last Name:
  <input type="text" name="last_name" required placeholder='enter your last name'/>
</label><br>

<label>
    Sign here:
    <input type="hidden" name="signature" id="hidden" />
    <canvas id="signature-canvas" width="600" height="150" style="border:1px solid #000"></canvas><br>
    <input type="button" value="Clear" class="canvas-clear" />
    <input type="button" value="Submit" />
</label>
<script src="canvas.js"></script>
    
</form>
 