{{#if error}}
<p class='error'>{{error}}</p>
{{/if}}

<div class="container">
  <div class="center">
    <h1>Now please provide some more information about yourself.</h1>

    <form action='/profile' method='POST'>

      <div class="txt-field">
        <input type="number" name="age" required />
        <span></span>
        <label>
          Age
        </label><br>
      </div>

      <div class="txt-field">
        <input type="text" name="city" required />
        <span></span>
        <label>
          City
        </label><br>
      </div>


      <div class="txt-field">
        <input type="" name="homepage" required />
        <span></span>
        <label>
          Homepage
        </label><br>
      </div>


      <button type="submit">Continue</button>

    </form>
  </div>
</div>