{{#if error}}
<p class='error'>{{error}}</p>
{{/if}}

<div class="container">
  <div class="center">
    <h1>Join us today.</h1>
    <form action='/register' method='POST'>

      <div class="txt-field">
        <input type="text" name="first_name" required  />
        <span></span>
        <label>
          First_Name
        </label><br>
      </div>

      <div class="txt-field">
        <input type="text" name="last_name" required  />
        <span></span>
        <label>
          Last_Name
        </label><br>
      </div>

      <div class="txt-field">
        <input type="email" name="email" required  />
        <span></span>
        <label>
          Email_Address
        </label><br>
      </div>

      <div class="txt-field">
        <input type="password" name="password" required  />
        <span></span>
        <label>
          Password
        </label><br>
      </div>

      <Button type="submit">Sign Up</Button>

    </form>
    <div class="link">
      <h4>Already a member? <a href="/login">Click Here!</a></h4>
    </div>
  </div>
</div>